@layer base {
    * {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        margin: 0;
    }

    .test-br {
        @apply border-solid border border-red-500;
    }

    @media print {
        .print-me {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 999;
            background-color: white;
        }
    }
}
